<!DOCTYPE html>
<html>
  <head>
    <title>BlogRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar-text float-right">
    <% if user_signed_in? %>
      <p data-cy="current-user">
      Logged in as <strong><%= current_user.email %></strong>.
      </p>
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link', data: {
        'cy': 'edit-profile-link'
      } %> |
      <%= link_to "Logout", destroy_user_session_path, data: {
        turbo_method: :delete,
        'cy': 'logout-link'
      }, :class => 'navbar-link'
       %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link', data: {
        'cy': 'signup-link'
      }  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link', data: {
        'cy': 'login-link'
      }  %>
    <% end %>
    </div> 
    <%= yield %>
    <p class="notice" data-cy="devise-notice" ><%= notice %></p>
    <p class="alert" data-cy="devise-alert" ><%= alert %></p>
  </body>
</html>
